In [ ]:
from pyforest import *
import seaborn as sns

Default Rate Data

In [12]:
dRate = pd.read_csv(r'/Users/dillorr/Documents/school/NU/MSDS/ANA699A/project/peps300.csv', encoding = "ISO-8859-1")

In [13]:
dRate.columns = dRate.columns.str.replace("\n", "")
dRate.columns = dRate.columns.str.replace(" ", "")
dRate.head()

,OPEID,Name,Address,City,State,StateDesc,ZipCode,ZipExt,ProgLength,SchoolType,...,Year2,Num2,Denom2,DRate2,PRate2,Year3,Num3,Denom3,DRate3,PRate3
0,1002,ALABAMA AGRICULTURAL & MECHANICAL UNIVERSITY ...,4900 MERIDIAN STREET ...,NORMAL,AL,ALABAMA ...,35762,1357,8,1,...,2015,378.0,1902.0,19.8,A,2014,332.0,1753.0,18.9,A
1,1003,FAULKNER UNIVERSITY ...,5345 ATLANTA HIGHWAY ...,MONTGOMERY,AL,ALABAMA ...,36109,3398,8,2,...,2015,180.0,1471.0,12.2,A,2014,192.0,1470.0,13.0,A
2,1004,UNIVERSITY OF MONTEVALLO ...,PALMER CIRCLE ...,MONTEVALLO,AL,ALABAMA ...,35115,6000,8,1,...,2015,72.0,784.0,9.1,A,2014,64.0,793.0,8.0,A
3,1005,ALABAMA STATE UNIVERSITY ...,915 SOUTH JACKSON STREET ...,MONTGOMERY,AL,ALABAMA ...,36104,5714,8,1,...,2015,466.0,2208.0,21.1,P,2014,471.0,2419.0,19.4,P
4,1007,CENTRAL ALABAMA COMMUNITY COLLEGE ...,1675 CHEROKEE ROAD ...,ALEXANDER CITY,AL,ALABAMA ...,35010,0,5,1,...,2015,131.0,579.0,22.6,P,2014,184.0,674.0,27.2,P

In [14]:
dRate.columns

Index(['OPEID', 'Name', 'Address', 'City', 'State', 'StateDesc', 'ZipCode',
       'ZipExt', 'ProgLength', 'SchoolType', 'Year1', 'Num1', 'Denom1',
       'DRate1', 'PRate1', 'EthnicCode', 'CongDis', 'Region',
       'AverageorGreaterthan30', 'Year2', 'Num2', 'Denom2', 'DRate2', 'PRate2',
       'Year3', 'Num3', 'Denom3', 'DRate3', 'PRate3'],
      dtype='object')

Census Data

AL-MO

In [6]:
censusALMO = pd.read_csv(r'/Users/dillorr/defaultRate/data/census2010/stco-mr2010_al_mo.csv', encoding = "ISO-8859-1")

In [7]:
censusALMO.columns

Index(['SUMLEV', 'STATE', 'COUNTY', 'STNAME', 'CTYNAME', 'SEX', 'ORIGIN',
       'AGEGRP', 'IMPRACE', 'RESPOP'],
      dtype='object')

MT-WY

In [5]:
censusMTWY = pd.read_csv(r'/Users/dillorr/defaultRate/data/census2010/stco-mr2010_mt_wy.csv', encoding = "ISO-8859-1")

In [8]:
censusMTWY.columns

Index(['SUMLEV', 'STATE', 'COUNTY', 'STNAME', 'CTYNAME', 'SEX', 'ORIGIN',
       'AGEGRP', 'IMPRACE', 'RESPOP'],
      dtype='object')

Join Census Datasets

In [15]:
censusCombined = pd.concat([censusALMO, censusMTWY], axis=0)

Export to CSV

In [ ]:
censusCombined.to_csv('censusCombined.csv', index=False)